<svelte:head>
  <title>{pageConfig ? pageConfig.title: "Title not found"} | {$site.title}</title>
  <meta property="og:description" content="{$site.description}">
  <meta property="og:image" content="{imageUrl || '/image-not-found.png'}">
  <meta property="og:title" content="{pageConfig ? pageConfig.title: "Title not found"} | {$site.title}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="/{params.slug}">
</svelte:head>

{#if errorMessage}
  <NotFoundPage message={errorMessage} params={params}  query={query} />
{:elseif pageConfig.type === 'agenda'}
  <CategoryPage category={page} categoryConfig={pageConfig} />
{:elseif pageConfig.type === 'category'}
  <CategoryPage category={page} categoryConfig={pageConfig} />
{:elseif pageConfig.type === 'topic'}
  <TopicPage topic={page} topicConfig={pageConfig} />
{:elseif pageConfig.type === 'gitlab/group'}
  <GitLabGroupPage group={page} groupConfig={pageConfig} />
{:else}
  <NotFoundPage message="Unkwnown type {pageConfig.type} for page {pageConfig.slug}" params={params}  query={query} />
{/if}

<script>
  import urlResolve from "url-resolve"
  import CategoryPage from "../components/CategoryPage.html"
  import GitLabGroupPage from "../components/GitLabGroupPage.html"
  import NotFoundPage from "../components/NotFoundPage.html"
  import TopicPage from "../components/TopicPage.html"
  import {fetchDiscourseCategory, fetchDiscourseTopic, fetchGitLabGroupProjects} from "./_fetchers.js"

  export default {
    components: {
      CategoryPage,
      GitLabGroupPage,
      NotFoundPage,
      TopicPage,
    },
    data() {
      return {
        errorMessage: null,
        imageUrl: null,
        page: null,
        pageConfig: null,
      }
    },
    async preload({
      params,
      // query,
    }) {
      // the `slug` parameter is available because this file
      // is called [slug].html
      const { slug } = params
      const { site } = this.store.get()
      const pageConfig = site.pages.find(page => page.slug === slug)
      if (pageConfig === undefined) {
        return {errorMessage: `Page not found: ${slug}`}
      }
      const url =
        pageConfig.type === "agenda" ?
          urlResolve(site.apiUrl, `/${pageConfig.discourseSlug || pageConfig.slug}.json`) :
        pageConfig.type === "category" ?
          urlResolve(site.apiUrl, `/c/${pageConfig.discourseSlug || pageConfig.slug}.json`) :
        pageConfig.type === "topic" ?
          urlResolve(site.apiUrl, `/t/${pageConfig.discourseSlug || pageConfig.slug}/${pageConfig.id}.json`) :
        pageConfig.type === "gitlab/group" ?
          urlResolve(pageConfig.hostUrl, `/api/v4/groups/${pageConfig.id}/projects`) :
        undefined
      if (url === undefined) {
        return {errorMessage: `Unknown type "${pageConfig.type}" for page: ${slug}`}
      }
      const page =
        pageConfig.type === "agenda" || pageConfig.type === "category" ?
          await fetchDiscourseCategory(this, url) :
        pageConfig.type === "topic" ?
          await fetchDiscourseTopic(this, url) :
        {projects: await fetchGitLabGroupProjects(this, url)}

      let imageUrl = site.banner && (site.banner.logoUrl || site.banner.backgroundImageUrl) || null
      if (pageConfig.type === "topic") {
        let imageLinkCounts = (page.post_stream.posts[0].link_counts || []).filter(({url}) => {
          const extension = url.substring(url.lastIndexOf(".")+1).toLowerCase()
          return ["gif", "jpeg", "jpg", "png", "svg"].includes(extension)
        })
        if (imageLinkCounts.length > 0) {
          imageUrl = imageLinkCounts[0].url
          if (imageUrl.startsWith("//")) {
            imageUrl = "https:" + imageUrl
          }
        }
      }
      return {
        imageUrl,
        page,
        pageConfig,
      }
    },
  }
</script>