<svelte:head>
  <title>{$site.title}</title>
  <meta property="og:description" content="{$site.description}">
  <meta property="og:image" content="{$site.banner && ($site.banner.logoUrl || $site.banner.backgroundImageUrl) || '/image-not-found.png'}">
  <meta property="og:title" content="{$site.title}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="/">
</svelte:head>

<AppBar slug={null} />
<Banner />
{#each zones as zone, index (zone.config.slug)}
  {#if index > 0}
    <hr class="mb-5 mt-5">
  {/if}
  {#if zone.errorMessage}
    <NotFoundZone message={zone.errorMessage} zone={zone}/>
  {:elseif zone.config.type === "category"}
    <CategoryZone category={zone} />
  {:elseif zone.config.type === "gitlab/group"}
    <GitLabGroupZone group={zone} />
  {:else}
    <NotFoundZone message="Unkwnown type {zone.config.type} for zone {zone.config.slug}" zone={zone} />
  {/if}
{/each}

<script>
  import urlResolve from "url-resolve"
  import AppBar from "../components/AppBar.html"
  import Banner from "../components/Banner.html"
  import CategoryZone from "../components/CategoryZone.html"
  import GitLabGroupZone from "../components/GitLabGroupZone.html"
  import NotFoundZone from "../components/NotFoundZone.html"
  import {fetchDiscourseCategory, fetchGitLabGroupProjects} from "./_fetchers.js"

  export default {
    components: {
      AppBar,
      Banner,
      CategoryZone,
      GitLabGroupZone,
      NotFoundZone,
    },
    preload({
      // params,
      // query,
    }) {
      const { site } = this.store.get()
      return Promise.all(site.zones.map(async zoneConfig => {
        if (zoneConfig.type === "category") {
          try {
            const zone = await fetchDiscourseCategory(
              this,
              urlResolve(site.apiUrl, `/c/${zoneConfig.discourseSlug || zoneConfig.slug}.json`),
            )
            return {
              ...zone,
              config: zoneConfig,
              errorMessage: null,
            }
          } catch (error) {
            return {
              config: zoneConfig,
              errorMessage: error,
            }
          }
        } else if (zoneConfig.type === "gitlab/group") {
          try {
            const projects = await fetchGitLabGroupProjects(
              this,
              urlResolve(zoneConfig.hostUrl, `/api/v4/groups/${zoneConfig.id}/projects`),
            )
            return {
              config: zoneConfig,
              errorMessage: null,
              projects,
            }
          } catch (error) {
            return {
              config: zoneConfig,
              errorMessage: error,
            }
          }
        } else {
          return {
            config: zoneConfig,
            errorMessage: `Unknown type "${zoneConfig.type}" for zone: ${zoneConfig.slug}`,
          }
        }
      })).then(zones => ({
        zones,
      })).catch(error => console.error(error))
    },
  }
</script>