<svelte:head>
  <title>{$site.live ? $site.live.title : "Live"} | {$site.title}</title>
  <meta property="og:description" content="{$site.live ? $site.live.description : $site.description}">
  <meta property="og:image" content="{$site.live ? $site.live.imageUrl : '/image-not-found.png'}">
  <meta property="og:title" content="{$site.live ? $site.live.title : "Live"} | {$site.title}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="/live">

  <link href="/video.js/dist/video-js.min.css" rel="stylesheet">
  <script src="/video.js/dist/video.min.js"></script>
  <script src="/videojs-flash/dist/videojs-flash.min.js"></script>
  <script src="/videojs-contrib-hls/dist/videojs-contrib-hls.min.js"></script>
</svelte:head>

<AppBar slug="live" />
<h1 class="display-4 mb-5 mt-5 text-center">
  {$site.live ? $site.live.title : "Live"}
</h1>
<div class="container-fluid">
  <video id="my-video" class="mx-auto video-js" controls preload="auto" autoplay width="640" height="360" poster="https://forum.datafin.fr/uploads/default/original/1X/4e04278e924a63144461036fe45ceb87c29a826a.png" data-setup="{'{}'}">
    <source src="https://neotine.parlement-ouvert.fr/liveout/df.m3u8" type='application/x-mpegURL'>
    <source src="https://neotine.parlement-ouvert.fr:8443/df" type='video/webm'>
    <source src="https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8" type='application/x-mpegURL'>
  </video>
</div>

<script>
  import AppBar from "../components/AppBar.html"

  export default {
    components: {
      AppBar,
    },
  }
</script>