{#if $site.banner}
  <!-- Svelte removes background style when rendered on client => use a function to hide the background-image
    attribute.
    <div class="banner" style="background-image: url('{$site.banner.backgroundImageUrl}');">
  -->
  <div class="banner" style="{backgroundImage($site.banner.backgroundImageUrl)}">
    <div class="banner-content">
      {#if $site.banner.logoUrl}
        <img alt="logo du site" class="banner-logo" src="{$site.banner.logoUrl}">
      {/if}
      {@html $site.banner.title}
      <div class="d-flex mb-5 mt-5 justify-content-center">
        <a class="btn btn-lg btn-primary text-uppercase" href="{$site.banner.buttonUrl}" role="button">{$site.banner.buttonTitle}</a>
      </div>
    </div>
  </div>
{/if}

<style type="text/scss">
  .banner {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .banner-content {
    text-align: center;
  }

  .banner-logo {
    max-width: 100%;
  }
</style>

<script>
  export default {
    helpers: {
      backgroundImage: url => `background-image: url('${url}');`,
    },
  }
</script>