<AppBar slug={categoryConfig.slug} />
<h1 class="display-4 mb-5 mt-5 text-center">
  {categoryConfig.titleLong || categoryConfig.title}
</h1>
{#if categoryConfig.newTopicButtonTitle}
  <div class="d-flex mb-5 mt-5 justify-content-center">
    <a class="btn btn-lg btn-primary" href="{urlResolve($site.apiUrl, `/new-topic?category_id=${categoryConfig.id}&body=${encodeURIComponent(categoryConfig.newTopicBody)}`)}" role="button">{categoryConfig.newTopicButtonTitle}</a>
  </div>
{/if}
<div class="container-fluid">
  <div class="row">
    {#each category.topic_list.topics.slice(1) as topicEmbed (topicEmbed.id)}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <TopicCard categoryConfig={categoryConfig} topicEmbed={topicEmbed} />
      </div>
    {/each}
  </div>
</div>

<script>
  import urlResolve from "url-resolve"
  import AppBar from "../components/AppBar.html"
  import TopicCard from "../components/TopicCard.html"

  export default {
    components: {
      AppBar,
      TopicCard,
    },
    helpers: {
      urlResolve,
    },
  }
</script>