<h3 class="display-4 mb-5 mt-5 text-center">
  {category.config.title}
</h3>
<div class="container-fluid">
  <div class="row">
    {#each category.topic_list.topics.slice(1, category.config.limit + 1) as topicEmbed (topicEmbed.id)}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <TopicCard categoryConfig={category.config} topicEmbed={topicEmbed} />
      </div>
    {/each}
  </div>
</div>
{#if category.config.pageButtonTitle}
  <div class="d-flex mb-5 mt-5 justify-content-center">
    <a class="btn btn-lg btn-primary" href="/{category.config.slug}" rel="prefetch">{category.config.pageButtonTitle}</a>
  </div>
{/if}

<script>
  import TopicCard from "../components/TopicCard.html"

  export default {
    components: {
      TopicCard,
    },
  }
</script>