<h3 class="display-4 mb-5 mt-5 text-center">
  {group.config.title}
</h3>
<div class="container-fluid">
  <div class="row">
    {#each group.projects.sort(compareProjectsEmbed).slice(0, group.config.limit) as projectEmbed (projectEmbed.id)}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <GitLabProjectCard groupConfig={group.config} projectEmbed={projectEmbed} />
      </div>
    {/each}
  </div>
</div>
{#if group.config.pageButtonTitle}
  <div class="d-flex mb-5 mt-5 justify-content-center">
    <a class="btn btn-lg btn-primary" href="/{group.config.slug}" rel="prefetch">{group.config.pageButtonTitle}</a>
  </div>
{/if}

<script>
  import GitLabProjectCard from "../components/GitLabProjectCard.html"

  export default {
    components: {
      GitLabProjectCard,
    },
    helpers: {
      compareProjectsEmbed(projectEmbed0, projectEmbed1) {
        return projectEmbed0.last_activity_at < projectEmbed1.last_activity_at ?
          1 :
          projectEmbed0.last_activity_at === projectEmbed1.last_activity_at ?
          0 :
          -1
      },
    },
  }
</script>