<AppBar slug={topicConfig.slug} />
<div class="container-fluid">
  <h1 class="display-4 mb-5 mt-5 title">
    {topic.title}
  </h1>
  <div class="cooked">{@html topic.post_stream.posts[0].cooked}</div>
  <div class="d-flex justify-content-between">
    <div>
      <span class="d-inline-flex" title="{topic.like_count} personne(s) aime(nt)">{topic.like_count} <i class="align-self-center material-icons">favorite</i></span>
      <span class="d-inline-flex" title="{topic.posts_count - 1} réponse(s)">{topic.posts_count - 1} <i class="align-self-center material-icons">reply</i></span>
    </div>
    <a class="card-link" href="{urlResolve($site.apiUrl, `/t/${topic.slug}/${topic.id}`)}">En savoir plus</a>
  </div>
</div>

<style type="text/scss">
  .cooked {
    margin-left: 8px;
    margin-right: 8px;
  }

  .title {
    text-align: center;
  }
</style>

<script>
  import urlResolve from "url-resolve"
  import AppBar from "../components/AppBar.html"

  export default {
    components: {
      AppBar,
    },
    helpers: {
      urlResolve,
    },
  }
</script>